<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.folio9470m.rendezvous_re">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Rendezvous"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EmailPasswordActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrdbrXBF4MKt5vq8zAIkTFjx8VeHhWMns" />

        <activity android:name=".PlacesActivity" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CurrMeetupsActivity" />
        <activity android:name=".CreateActivity" />
        <activity
            android:name=".CreateTabsActivity"
            android:label="@string/title_activity_create_tabs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Step3Activity" />
        <activity android:name=".MeetupOverview" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
    </application>

</manifest>